.footer {
  bottom: 0;
  padding: 20px calc(24px / 2);
  position: absolute;
  right: 0;
  color: #a6b0cf;
  left: 250px;
  height: 60px;
  background-color: #262b3c;
}

@media (max-width: 991.98px) {
  .footer {
    left: 0;
  }
}
