.json-editor {
  .jsoneditor-main {
    border-radius: 4px;
    border: 1px solid rgb(156, 163, 175) !important;
    overflow: hidden;
    box-shadow: none !important;

    .menu {
      background-color: #455a64 !important;
      border-bottom: none !important;
    }

    .button {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.inline-json-editor {
  .jsoneditor-main {
    border-radius: 4px;
    border: none !important;
    overflow: hidden;
    box-shadow: none !important;

    .menu {
      background-color: #455a64 !important;
      border-bottom: none !important;
    }

    .button {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
