.sub-container {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('$assets/svg/LA-Logo-2018-ColorDrop.svg');
}

.sub-container-white {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('$assets/svg/logo-white.svg');
}

.liquid-logo-text {
  width: 10%;
  margin-top: 1vh;
  margin-left: 2%;
}

.sso-container {
  min-width: 300px;
  transform: translate(-50%, -50%);
  padding: 64px 32px;
  max-width: 30%;
  border: 1px solid #607d8b;
  border-radius: 4px;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  @apply absolute top-2/4 left-2/4 mx-auto my-auto block w-2/5 bg-white;
}

.sso-options {
  @apply mx-auto flex flex-col text-center;
  font-size: 16px;
}

.welcome-text {
  margin-bottom: 20px;
  color: #455a64;
}

.sso-sigin-btn {
  @apply border-none p-0;
  background: none;
}

.overlay {
  position: fixed;
  overflow: hidden;
  z-index: 5000; // the layer is one to cover entire screen during calling backend api. while it's in api calling, user shouldn't be able to touch anything in UI. so, the z-index should be maximum
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(235, 235, 235, 0.1);

  .logo {
    width: 64px;
    height: 64px;
    background: url('$assets/svg/LA-Logo-2018-ColorDrop.svg') center center no-repeat;
    background-size: cover;
  }
}

.app-loading {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.app-loading .spinner {
  height: 200px;
  width: 200px;
  animation: rotate 2s linear infinite;
  transform-origin: center center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.app-loading .spinner .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
  stroke: #2eabe3;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
