.progress-bar {
  background-color: transparent; // #d1d5db;
  border-radius: 9999px;
  height: 0.25rem;
  position: relative;
  overflow: hidden;
}

.progress-bar__progress {
  background-image: linear-gradient(to right, transparent, #3b82f6, #3b82f6, transparent);
  border-radius: 9999px;
  position: absolute;
  bottom: 0;
  top: 0;
  width: 50%;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: progress-bar;
}

@keyframes progress-bar {
  from {
    left: -50%;
  }

  to {
    left: 100%;
  }
}
