.toast-wrap {
  --toastContainerTop: auto;
  --toastContainerBottom: 2rem;
  --toastContainerLeft: calc(50vw - 20rem);
  --toastContainerRight: calc(50vw + 20rem);

  --toastWidth: 40rem;
  --toastMinHeight: 2rem;
  --toastPadding: 0 0.5rem;
}

.toast-text-color-error {
  color: #bf2600;
  text-decoration: underline;
  cursor: pointer;
}

.toast-text-color-error:hover {
  color: #d82f05;
  text-decoration: underline;
}

.notification-wrap {
  --toastContainerTop: 9rem;
  --toastContainerRight: 1.5rem;

  @media (max-width: 768px) {
    --toastContainerTop: 8rem;
  }
}
